<%# Head / Meta Data %>
<% title("Discovery Flight | Blue Skies Above") %>
<% meta_description("Experience two hours with an instructor during a discovery flight to explore aviation firsthand. Sit in the pilot seat, fly with a certified instructor, and learn about the aircraft and flying. Perfect for prospective aviation students. Book your introductory flight today!") %>
<% meta_keywords("discovery flight, introductory flight, aviation career, aviation exploration, pilot seat experience, FAA Certified Flight Instructor, flight training, aviation prospect, aircraft familiarization, aviation education") %>

<header class="w-full bg-home bg-aerial h-screen lg:h-screen bg-cover bg-center flex justify-center items-center text-white" id="top">
  <div class="px-5 py-40 lg:py-52 flex flex-col justify-center xl:items-start w-full">
      <h1 class="font-semibold text-7xl text-center lg:text-start font-header uppercase">Book a <br class="hidden xs:block md:block xl:hidden">Discovery Flight</h1>
      <h2 class="font-bold text-4xl text-center lg:text-start py-10 text-gray-200">Fly the Blue Skies Above <br class="hidden xs:block md:block xl:hidden">and See if Flying is for You</h2>
      <div class="w-full flex flex-col items-center lg:hidden">
        <a href="#quiz-frame", class="btn-primary"
          onclick="event.preventDefault(); document.getElementById('quiz-frame').scrollIntoView({ behavior: 'smooth' });">
          FLY NOW
        </a>
      </div>
  </div>
</header>



<div class="flex flex-col items-start bg-gradient-to-br from-white to-sky-200 pb-10">
  <div class="lg:w-1/2 lg:px-10">
    <h3 class="font-semibold text-4xl py-10 text-center uppercase font-header">What to Expect</h3>
    <p class="text-gray-700 px-5 pb-5">
      The Discovery Flight is designed to offer a glimpse into the world of being a pilot. Spend around 60 minutes airborne and 60 minutes on the ground, accompanied by our certified flight instructors who'll introduce you to the basics of flying and address your questions. This is your chance to take control and feel the joy of flight firsthand.
    </p>
    <p class="text-gray-700 px-5 pb-5">
      During this flight, you'll occupy the pilot seat while our FAA Certified Flight Instructor guides you through the flight. The best first step for those eyeing an aviation career, seeking a new hobby, or even those looking for a unique gift for any age. You can bring along a friend to join the ride as long as we are meeting weight and balance requirements. At the flight's end, the instructor is ready to field any lingering questions.
    </p>
    <h3 class="font-semibold text-4xl py-10 text-center uppercase font-header">What Happens After the Flight?</h3>
    <p class="text-gray-700 px-5 pb-5">
      Now that you’ve wrapped up your discovery flight, what are the next steps? At Blue Skies Above, we’re committed to offering professional flight instruction without taking the fun out of the process.  We have a structured program to take you all the way to be ready for your flight exam. Have a look at our checklist below and get started flying today.
    </p>

    <div class="bg-white max-w-xl mx-5 lg:mx-auto border border-gray-200 rounded-2xl mb-10">
      <ul class="shadow-box">					
        <li class="relative border-b border-gray-200" x-data="{selected:null}">
          <button type="button" class="w-full px-8 py-6 text-left" @click="selected !== 1 ? selected = 1 : selected = null">
            <div class="flex items-center justify-between">
              <span class="font-semibold text-lg">Work with our team to create a plan</span>
              <span class="ico-plus"></span>
            </div>
          </button>
          <div class="relative overflow-hidden transition-all max-h-0 duration-700" style="" x-ref="container1" x-bind:style="selected == 1 ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
            <div class="p-6 text-gray-700">
              <p>Our team will pair you with a certified flight instructor (CFI) who will work with you to create a personalized plan that fits your schedule and goals. Together, you will establish a flight training schedule, review the syllabus, and discuss any questions or concerns you may have.</p>
            </div>
          </div>
        </li>
        <li class="relative border-b border-gray-200" x-data="{selected:null}">
          <button type="button" class="w-full px-8 py-6 text-left" @click="selected !== 2 ? selected = 2 : selected = null">
            <div class="flex items-center justify-between">
              <span class="font-semibold text-lg">Take care of the prerequisites</span>
              <span class="ico-plus"></span>
            </div>
          </button>
          <div class="relative overflow-hidden transition-all max-h-0 duration-700" style="" x-ref="container2" x-bind:style="selected == 2 ? 'max-height: ' + $refs.container2.scrollHeight + 'px' : ''">
            <div class="p-6 text-gray-700">
              <p>Before you can start your flight training, you will need to complete a medical exam, purchase your books, and work on completing your ground school and written exam. Our team will be with you every step of the way to ensure you have everything you need to succeed.</p>
            </div>
          </div>
        </li>
        <li class="relative border-b border-gray-200" x-data="{selected:null}">
          <button type="button" class="w-full px-8 py-6 text-left" @click="selected !== 3 ? selected = 3 : selected = null">
            <div class="flex items-center justify-between">
              <span class="font-semibold text-lg">Start flight training and ground school</span>
              <span class="ico-plus"></span>
            </div>
          </button>
          <div class="relative overflow-hidden transition-all max-h-0 duration-700" style="" x-ref="container3" x-bind:style="selected == 3 ? 'max-height: ' + $refs.container3.scrollHeight + 'px' : ''">
            <div class="p-6 text-gray-700">
              <p>Once you have completed your prerequisites, it's time to start building your flight hours and experience. You will work with your CFI to complete flight lessons and ground school, mastering the skills needed to become a proficient pilot.</p>
            </div>
          </div>
        </li>
        <li class="relative border-b border-gray-200" x-data="{selected:null}">
          <button type="button" class="w-full px-8 py-6 text-left" @click="selected !== 4 ? selected = 4 : selected = null">
            <div class="flex items-center justify-between">
              <span class="font-semibold text-lg">Pass your checkride</span>
              <span class="ico-plus"></span>
            </div>
          </button>
          <div class="relative overflow-hidden transition-all max-h-0 duration-700" style="" x-ref="container4" x-bind:style="selected == 4 ? 'max-height: ' + $refs.container4.scrollHeight + 'px' : ''">
            <div class="p-6 text-gray-700">
              <p>As you near the end of your flight training, you will work with your CFI to prepare for your check ride. Our team will ensure that you are well-prepared and confident.  We'll have stage checks along the way so you can successfully pass your check ride and earn your pilot's license.</p>
            </div>
          </div>
        </li>
        <li class="relative " x-data="{selected:null}">
          <button type="button" class="w-full px-8 py-6 text-left" @click="selected !== 5 ? selected = 5 : selected = null">
            <div class="flex items-center justify-between">
              <span class="font-semibold text-lg">Enjoy flying and continue your aviation journey</span>
              <span class="ico-plus"></span>
            </div>
          </button>
          <div class="relative overflow-hidden transition-all max-h-0 duration-700" style="" x-ref="container5" x-bind:style="selected == 5 ? 'max-height: ' + $refs.container5.scrollHeight + 'px' : ''">
            <div class="p-6 text-gray-700">
              <p>Congratulations, you are now a certified pilot! Your aviation journey doesn't have to end here though. Our team can help you continue to improve your skills and earn additional ratings, such as an instrument rating or commercial certificate. Whether you want to fly for fun or pursue a career in aviation, we are here to support you every step of the way.</p>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="pt-10 flex flex-row gap-3 justify-center items-center">
      <%= link_to contact_path, data: {turbo: false}, class: "hidden lg:block" do%>
        <div class="btn-primary text-2xl lg:px-auto">
        Contact Us
        </div>
      <% end %>
      <a href="#quiz-frame", class="lg:hidden"
        onclick="event.preventDefault(); document.getElementById('quiz-frame').scrollIntoView({ behavior: 'smooth' });">
        <div class="btn-primary text-2xl lg:px-auto">
        FLY NOW
        </div>
      </a>
      <%= link_to pilot_programs_path, class: "text-sm font-semibold leading-6 text-gray-900" do%>
        <div class="flex group text-2xl">
          <div class="mr-3">View Programs</div>
          <div aria-hidden="true" class="group-hover:animate-bounce-right">→</div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div id="quiz-frame" class=" lg:fixed right-5 top-10 z-50 bg-white lg:rounded-xl lg:w-1/3 h-screen w-full border pb-5 lg:overflow-y-auto lg:h-[92vh]">
  <iframe src="https://www.flightcircle.com/shop/fa868e664e59/4000003181" class="w-full h-full" title="Flight Circle Embed"></iframe>
</div>

<%# desktop footer %>
<div class="hidden lg:block px-2 bg-sky-200">
  <div class="p-5 w-1/2">
    <%= render "shared/footer_bottom"%>
  </div>
</div>

<%# mobile footer %>
<div class="lg:hidden w-full bg-sky-200">
  <div class="py-5 px-5">
    <%= render "shared/footer_bottom"%>
  </div>
</div>