<%# Head / Meta Data %>
<% title("Start Your Pilot Career | SimpliFly Flight School") %>
<% meta_description(" Join the team of instructors at Simplifly in Mesa, Phoenix, Scottsdale, and Spanish Fork, Salt Lake. Share your passion for aviation and inspire future pilots as an instructor. Apply now.") %>
<% meta_keywords("Flight Instructor Position, CFI Job, Instruct at Simplifly, Mesa Flight School, Phoenix Flight School, Scottsdale Flight School, Spanish Fork Flight School, Salt Lake Flight School") %>

<%= render "shared/nav"%>
<!--
<header class="w-full bg-gradient-to-r from-white to-sky-300  h-screen-3/4 lg:h-screen-4/5 flex justify-center items-center text-black">
  <div class="px-5 py-40 lg:py-52 flex flex-col justify-center items-center w-full">
      <h1 class="font-semibold font-header text-5xl lg:text-8xl lg:px-20 text-center">BE A CFI AT SIMPLIFLY</h1>
      <h2 class="font-bold text-xl lg:text-3xl italic text-center py-5 lg:py-10">How to become a CFI and gain experience</h2>
      <a href="#contact" class="btn-primary"
        onclick="event.preventDefault(); 
                const contactElement = document.getElementById('contact');
                const targetOffset = contactElement.offsetTop -20;
                window.scrollTo({ top: targetOffset, behavior: 'smooth' });">
        APPLY TODAY
      </a>
  </div>
</header>-->

<section class="bg-gradient-to-b from-slate-50 to-sky-200 flex flex-col items-center">
  <div class="max-w-4xl flex flex-col py-10 px-5">
    <h3 class="text-5xl font-header uppercase font-semibold">Get Started on Your Pilot Career</h3>
    <h4 class="text-2xl text-gray-800 py-5">Are you a CFI looking to gain experience in the aviation industry?</h4>
    <p class="text-lg text-gray-700">Start your pilot career put your commercial certificate to good use. Start flying now and build the necessary hours to achieve your goals.  Whether that's flying in general aviation, or veering off to the Part 121, Part 135 world. Being a CFI at Blue Skies Above offers a valuable opportunity to rapidly accumulate flight experience and meet the requirements of obtaining your ATP certificate. </p>
    <p class="text-lg text-gray-700 pt-10">
      It is a great opportunity that allows you to apply all the knowledge and skills acquired during your own flight training. Flight instructors play a crucial role as ambassadors of the aviation community, imparting their knowledge and experience to their students. For many, it serves as their first aviation job that not only is an invaluable experience but also provides compensation.
    </p>
  </div>
</section>


<section class="bg-gradient-to-l from-slate-200 to-blue-50"  id="contact">
  <h1 class="font-bold text-4xl pt-10 text-center">Apply to Join <br class="lg:hidden">Blue Skies Above</h1>
  <div class="lg:flex lg:flex-row-reverse items-center lg:items-start">
  

    <div class="mx-10 lg:px-16 lg:w-1/2">
      <%= render "form", message: @message %>      
    </div>

    <div class="mx-0 lg:w-1/2">
      <%=image_tag "blue-skies-cessna-on-grass-auburn-georgia-alabama.webp", class: "lg:pb-10 lg:pt-5 lg:pl-5", alt: "team photo"%>
    </div>

  </div>
</section>


<%= render "shared/footer"%>