<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing leaseback program</h1>

  <%= render "form", leaseback_program: @leaseback_program %>

  <%= link_to "Show this leaseback program", @leaseback_program, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to leaseback programs", leaseback_programs_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
