<%# footer %>
<!--
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->
<footer class="bg-white" aria-labelledby="footer-heading">
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div class="mx-auto max-w-7xl px-6 pb-8 pt-16 sm:pt-24 lg:px-8 lg:pt-32">
    <div class="xl:grid xl:grid-cols-3 xl:gap-8">
      <div class="flex flex-col items-center lg:-mt-16">
        <%= image_tag "blue-skies-logo-black-600.webp", class: "h-16 xl:h-24 w-auto object-contain duration-300 hover:scale-105 hover:brightness-105", alt: "Blue Skies Above logo"%>
        <div class="pt-5 text-sm leading-6 text-gray-600">
          Lanett Regional Airport 7A3<br>
          4445 51st Ave SW<br>
          Lanett, Alabama 36863<br>
          <a href="tel:1-334-449-7600" class="hover:underline">1-334-449-7600</a><br>
          <a href="mailto:info@flytheblueskies.com" class="hover:underline">info@flytheblueskies.com</a><br>
        </div>
      </div>
      <div class="mt-16 grid grid-cols-2 gap-8 xl:col-span-2 xl:mt-0">
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div>
            <h3 class="text-sm font-semibold leading-6 text-gray-900">New to Flying?</h3>
            <ul role="list" class="mt-6 space-y-4">
              <li>
                <a href="#" class="text-sm leading-6 text-gray-600 hover:text-sky-600">Why become a pilot?</a>
              </li>
              <li>
                <a href="#" class="text-sm leading-6 text-gray-600 hover:text-sky-600">Pilot training process</a>
              </li>
              <li>
                <a href="#" class="text-sm leading-6 text-gray-600 hover:text-sky-600">First Flight Lesson</a>
              </li>
            </ul>
          </div>
          <div class="mt-10 md:mt-0">
            <h3 class="text-sm font-semibold leading-6 text-gray-900">Training Programs</h3>
            <ul role="list" class="mt-6 space-y-4">
              <li>
                <%= link_to "Private Pilot", ppl_path, data: {turbo: false}, class: "text-sm leading-6 text-gray-600 hover:text-sky-600"%>
              </li>
              <li>
                <a href="#" class="text-sm leading-6 text-gray-600 hover:text-sky-600">Instrument Rating</a>
              </li>
              <li>
                <a href="#" class="text-sm leading-6 text-gray-600 hover:text-sky-600">Commercial Pilot</a>
              </li>
              <li>
                <a href="#" class="text-sm leading-6 text-gray-600 hover:text-sky-600">Flight Instructor</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div>
            <h3 class="text-sm font-semibold leading-6 text-gray-900">About</h3>
            <ul role="list" class="mt-6 space-y-4">
              <li>
                <a href="#" class="text-sm leading-6 text-gray-600 hover:text-sky-600">Our Team</a>
              </li>
              <li>
                <a href="#" class="text-sm leading-6 text-gray-600 hover:text-sky-600">Why Blue Skies Above?</a>
              </li>
              <li>
                <a href="#" class="text-sm leading-6 text-gray-600 hover:text-sky-600">Join the team</a>
              </li>
              <li>
                <a href="#" class="text-sm leading-6 text-gray-600 hover:text-sky-600">Blog</a>
              </li>
            </ul>
          </div>
          <div class="mt-10 md:mt-0">
            <h3 class="text-sm font-semibold leading-6 text-gray-900">Quick Links</h3>
            <ul role="list" class="mt-6 space-y-4">
              <li>
                <a href="#" class="text-sm leading-6 text-gray-600 hover:text-sky-600">Visit School</a>
              </li>
              <li>
                <%= link_to "Discovery Flight", discovery_flight_path, data: {turbo: false}, class: "text-sm leading-6 text-gray-600 hover:text-sky-600" %>
              </li>
              <li>
                <a href="#" class="text-sm leading-6 text-gray-600 hover:text-sky-600">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <%= render "shared/footer_bottom"%>
</footer>
