<section class="bg-gradient-to-b from-white to-sky-300 pb-20">
  <h3 class="text-3xl font-semibold pb-10 font-header mx-5 text-center pt-10">WHAT OUR STUDENTS ARE SAYING?</h3>

  <!--1st set-->
  <div class="relative flex flex-row overflow-x-hidden">
    <div class="flex flex-row gap-10 lg:animate-marquee animate-marqueemobile ml-10">
      <div class="flex-shrink-0 flex flex-col justify-between bg-sky-500 text-white rounded-xl w-1/3 lg:w-1/4 py-5 px-5 ">
        <p class="text-sm">
          Matthew is an excellent flight instructor with a vast knowledge and aptitude for flying. The fact that he has the heart of a teacher is the reason I learned so well with him and therefore successfully earned my PPL. Out of the several CFI’s I had during my training, he was the one that I learned the most from. Unlike some CFI’s, he was actually very concerned at making sure I was learning instead of just trying to make money off of me. I would definitely recommend him to anyone who wants to learn to fly. Hopefully, I will get to earn some more ratings with him in the future.
        </p>
        <div class="">
          <p>Stuart Peters</p>
          <p class="text-yellow-400">★★★★★</p>
        </div>
      </div>
      <div class="flex-shrink-0 flex flex-col justify-between bg-sky-500 text-white rounded-xl w-1/3 lg:w-1/4 py-5 px-5 ">
        <p>Awesome flight school in Lanett, Alabama.  Right between Georgia and Alabama in the valley.  Matthew is a professional instructor and CFI and is passionate about aviation and flying and loves handing down his aviation wisdom to new students.  Great place to learn how to fly and become a pilot.</p>
        <div class="">
          <p>Tim Jedrek</p>
          <p class="text-yellow-400">★★★★★</p>
        </div>
      </div>
      <div class="flex-shrink-0 flex flex-col justify-between bg-sky-500 text-white rounded-xl w-1/3 lg:w-1/4 py-5 px-5 ">
        <p>
          I can’t say enough great things about blue skies above! Joe provides professional instruction and remembers to keep it fun and enjoyable to fly! I love getting to go to the airport because of the community and culture that has been built there!
        </p>
        <div class="">
          <p>Paul Prim</p>
          <p class="text-yellow-400">★★★★★</p>
        </div>
      </div>
      <div class="flex-shrink-0 flex flex-col justify-between bg-sky-500 text-white rounded-xl w-1/3 lg:w-1/4 py-5 px-5 ">
        <p>Got my PPL here. Best flight school experience I’ve had. The instructors are great and they always have an airplane available to fly.</p>
        <div class="">
          <p>Mallorie Moffett</p>
          <p class="text-yellow-400">★★★★★</p>
        </div>
      </div>
      <div class="flex-shrink-0 flex flex-col justify-between bg-sky-500 text-white rounded-xl w-1/3 lg:w-1/4 py-5 px-5 ">
        <p>It's different but if your in valley Alabama and you know where lanette airport and  ask to fly</p>
        <div class="">
          <p>Johnnie Patterson</p>
          <p class="text-yellow-400">★★★★★</p>
        </div>
      </div>
    </div>

    <!--second set-->
    <div class="flex flex-row overscroll-none gap-10 absolute top-0 lg:animate-marquee2 lg:animate-marquee2 animate-marquee2mobile ml-10">
      <div class="flex-shrink-0 flex flex-col justify-between bg-sky-500 text-white rounded-xl w-1/3 lg:w-1/4 py-5 px-5 ">
        <p class="text-sm">
          Matthew is an excellent flight instructor with a vast knowledge and aptitude for flying. The fact that he has the heart of a teacher is the reason I learned so well with him and therefore successfully earned my PPL. Out of the several CFI’s I had during my training, he was the one that I learned the most from. Unlike some CFI’s, he was actually very concerned at making sure I was learning instead of just trying to make money off of me. I would definitely recommend him to anyone who wants to learn to fly. Hopefully, I will get to earn some more ratings with him in the future.
        </p>
        <div class="">
          <p>Stuart Peters</p>
          <p class="text-yellow-400">★★★★★</p>
        </div>
      </div>
      <div class="flex-shrink-0 flex flex-col justify-between bg-sky-500 text-white rounded-xl w-1/3 lg:w-1/4 py-5 px-5 ">
        <p>Awesome flight school in Lanett, Alabama.  Right between Georgia and Alabama in the valley.  Matthew is a professional instructor and CFI and is passionate about aviation and flying and loves handing down his aviation wisdom to new students.  Great place to learn how to fly and become a pilot.</p>
        <div class="">
          <p>Tim Jedrek</p>
          <p class="text-yellow-400">★★★★★</p>
        </div>
      </div>
      <div class="flex-shrink-0 flex flex-col justify-between bg-sky-500 text-white rounded-xl w-1/3 lg:w-1/4 py-5 px-5 ">
        <p>
          I can’t say enough great things about blue skies above! Joe provides professional instruction and remembers to keep it fun and enjoyable to fly! I love getting to go to the airport because of the community and culture that has been built there!
        </p>
        <div class="">
          <p>Paul Prim</p>
          <p class="text-yellow-400">★★★★★</p>
        </div>
      </div>
      <div class="flex-shrink-0 flex flex-col justify-between bg-sky-500 text-white rounded-xl w-1/3 lg:w-1/4 py-5 px-5 ">
        <p>Got my PPL here. Best flight school experience I’ve had. The instructors are great and they always have an airplane available to fly.</p>
        <div class="">
          <p>Mallorie Moffett</p>
          <p class="text-yellow-400">★★★★★</p>
        </div>
      </div>
      <div class="flex-shrink-0 flex flex-col justify-between bg-sky-500 text-white rounded-xl w-1/3 lg:w-1/4 py-5 px-5 ">
        <p>It's different but if your in valley Alabama and you know where lanette airport and  ask to fly</p>
        <div class="">
          <p>Johnnie Patterson</p>
          <p class="text-yellow-400">★★★★★</p>
        </div>
      </div>
    </div>
  </div>
</section>
