<%= turbo_frame_tag "frame4", class: "w-full" do %>
  <div class="mb-10">
    Thank you, <%= notice %>, for downloading the program guide and brochure! You will receive an email with a download link shortly.
  </div>
<% end %>
