<header class="w-full bg-home bg-hangarbg h-screen bg-cover bg-center flex justify-center items-center">
  <div class="px-5 py-40 lg:py-52 flex flex-col justify-center items-center lg:items-start w-full text-white">
      <h1 class="font-bold text-5xl text-center xl:text-start">Come Fly at <br class="xl:hidden">Blue Skies Above</h1>
      <h2 class="font-bold text-4xl text-center xl:text-start py-10">Visit our flight school <br class="xl:hidden">in Lanett, Alabama</h2>
      
      <div class="w-full flex flex-col items-center lg:hidden">
        <a href="#quiz-frame", class="btn-primary"
          onclick="event.preventDefault(); document.getElementById('quiz-frame').scrollIntoView({ behavior: 'smooth' });">
          Visit Blue Skies Above
        </a>
      </div>
  </div>
</header>

<turbo-frame id="quiz-frame">
  <div class="lg:absolute right-5 top-10 z-50 bg-white rounded-xl border pb-5 lg:overflow-y-auto lg:max-h-[92vh]">
    <%= render "form", checkout: @checkout %>
  </div>
</turbo-frame>

<%= render "shared/visit_school"%>

<div class="hidden lg:block px-5 py-2">
  <%= render "shared/footer_bottom"%>
</div>

<div class="lg:hidden w-full bg-ideal-blue-darker pt-16 pb-5 pl-5">
  <%= render "shared/footer_bottom"%>
</div>